// Define color variables
$white: #FFFFFF;
$light-yellow: #F8E370;
$dark-yellow: #efa92f;
$light-brown: #75563C;
$dark-brown: #4C3C2E;
$light-grey: #ADADAD;
$dark-grey: #848484;

// FOOTER
$footer-bg: #75563c;
$footer-bottom-bg: #4c3c2e;
$footer-link: #fff;
$footer-link-hover: #FED600;
$footer-section-title: #f8e370;
$footer-icon-color: #f8e370;
$footer-icon-color-hover: #f1bd29;
$footer-top-p: #fff;
$footer-border-color: #4c3c2e;

//FOOTER Buttons
//$cta-contact: #efa92f;
$cta-contact: #FED600;
$cta-text: #4c3c2e;
$cta-font-weight: bold;

$cta-contact-hover: #f1c76e;