// FOOTER
$footer-bg: #75563c;
$footer-bottom-bg: #4c3c2e;
$footer-link: #fff;
$footer-link-hover: #FED600;
$footer-section-title: #f8e370;
$footer-icon-color: #f8e370;
$footer-icon-color-hover: #f1bd29;
$footer-top-p: #fff;
$footer-border-color: #4c3c2e;

//FOOTER Buttons
//$cta-contact: #efa92f;
$cta-contact: #FED600;
$cta-text: #4c3c2e;
$cta-font-weight: bold;

$cta-contact-hover: #f1c76e;