@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;}

  html {
      scroll-behavior: smooth;
  }

  body {
      font-family: "Nunito", sans-serif;    background-color: #fffce9; /* #FFF8DC; */
  }

.navigation {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.navigation a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.element {
    transition: opacity 0.5s ease;
}

  a {
    text-decoration: none;
    color: #FFD700;
  }
  
  a:hover {
    text-decoration: underline;
    color: #EFA92F;
  }
  