.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    // background-color: rgba(165, 42, 42, 1);
    transition: background-color 0.5s ease;

    &.transparent {
        background-color: rgba(165, 42, 42, 0);
    }
  }
  
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 50;
    // background-color: #75563C;
  }
  