.line {
  position: absolute;
  height: 2px; 
  background: none;
  border: 2px dashed #2980b9; 
  border-radius: 10px; 
  animation: dashMove 4s linear infinite; 

   border-image: repeating-linear-gradient(90deg, #2980b9 0, #2980b9 10px, transparent 10px, transparent 20px) 1;
}


@keyframes dashMove {
  0% {
    border-image-position: 0;
  }
  100% {
    border-image-position: 100%;
  }
}