@import '../../../styles/variables.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

  &.scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);

    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
          color: #F8E370;
        }
      }
    }

    .contactInfo {
      color: black;
    }

    .logo {
      color: black;
    }
  }
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
 z-index: 999;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;

  li {
    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 16px;
      transition: color 0.3s ease;

      &:hover {
        color: #F8E370;
      }
    }
  }
}

.contactInfo {
  display: flex;
  align-items: center;
  color: white;

  .phoneIcon {
    margin-right: 8px;
    font-size: 24px;
  }

  .phoneNumber {
    font-weight: bold;
  }
}

// Keyframes for ringing animation
@keyframes ringing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ringing {
  animation: ringing 1s infinite ease-in;
}
