// About.module.scss

// Define the gradient colors
$light-yellow: #F8E370;
$dark-yellow: #EFA92F;
$light-brown: #75563C;
$dark-brown: #4C3C2E;

.container {
  background: linear-gradient(135deg, $light-yellow 0%, $dark-yellow 50%, $light-brown 75%, $dark-brown 100%);
  min-height: 100vh; // Ensure gradient covers the full viewport height
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2.5rem;
  color: $dark-brown;
  margin-bottom: 20px;
}

.article {
  font-size: 1.25rem;
  color: $light-brown;
  text-align: center;
  max-width: 800px;
  margin-bottom: 40px;
}



// .article {
//     padding: 40px;
//     font-size: 1.5rem;
// }

// .header {
//     padding: 40px;
//     font-size: 2rem;
// }